[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.1.6"
pillow = "*"
mysqlclient = "*"
crispy-bootstrap5 = "*"
django-crispy-forms = "*"

[dev-packages]

[requires]
python_version = "3.13"
