{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Sign In{% endblock title %}

{% block body_class %}bg-gray-100 flex items-center justify-center h-screen{% endblock body_class %}

{% block content %}
<div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
    <h2 class="text-2xl font-semibold text-center text-blue-600">Sign In</h2>
    <p class="text-center text-gray-600 mt-2">Create an account</p>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-4">
            <label for="id_username" class="block text-gray-700">Username</label>
            {{ form.username }}
            {% if form.username.errors %}
            <p class="text-red-500 text-sm">{{ form.username.errors.0 }}</p>
            {% endif %}
        </div>
        
        <div class="mb-4">
            <label for="id_password1" class="block text-gray-700">Email</label>
            {{ form.email }}
            {% if form.email.errors %}
            <p class="text-red-500 text-sm">{{ form.email.errors.0 }}</p>
            {% endif %}
        </div>
        
        <div class="mb-4">
            <label for="id_password2" class="block text-gray-700">Create a password</label>
            {{ form.password1 }}
            {% if form.password1.errors %}
            <p class="text-red-500 text-sm">{{ form.password1.errors.0 }}</p>
            {% endif %}
        </div>

        <div class="mb-4">
            <label for="id_password2" class="block text-gray-700">Repeat your password</label>
            {{ form.password2 }}
            {% if form.password2.errors %}
            <p class="text-red-500 text-sm">{{ form.password2.errors.0 }}</p>
            {% endif %}
        </div>

        <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded-lg font-semibold hover:bg-blue-700">
            Sign In
        </button>
    </form>
    <p class="text-center text-gray-600 mt-4">
        Already registered? <a href="{% url 'login' %}" class="text-blue-600 font-semibold">Log In here</a>
    </p>
</div>
{% endblock %}